* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

.body {
    font-family: 'Poppins', sans-serif;
}

.top-bennar {
    border: 1px, #270315, solid;
    border-radius: 20px;
    text-align: center;
    height: 500px;
    background-color: #270315;
    padding: 15px 25px 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.bennar-tittle {
    color: white;
    width: 50%;
    text-align: left;
}

.pera {
    padding-bottom: 30px;
}

.bennar-button {
    padding: 8px 16px;
    color: white;
    background-color: blue;
    text-decoration: none;
    border: white solid 3px;
    border-radius: 30px;
}

.bennar-img {
    width: 50%;
}

.left {
    width: 312px;
    height: 312px;
    background-color: black;
    border-radius: 30px;
    padding: 30px;
}

.left-b {
    text-decoration: none;
    width: 252px;
    height: 64px;
    background-color: white;
}

.footer {
    color: white;
    background-color: black;

}

hr {
    width: 80%;

}